:root {
  --primary: #0e4749; /* dark green */
  --secondary: #002626; /* darkest green */
  --accent: #95c623; /* light green */
  --highlight: #e55813; /* orange */

  --text: #121212; /* black */
  --text-inverse: #efe7da; /* white */

  /* font sizing */
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;
  --text-3xl: 4.5rem;

  /* fonts */
  --heading: macula-shaded, Impact, cursive;
  --body: multi-display, Trebuchet MS, Helvetica, ui-sans-serif, system-ui,
    sans-serif;
  --link: interstate-mono;

  /* font weights */
  --fw-l: 300;
  --fw-r: 400;
  --fw-sb: 500;
  --fw-sb-6: 600;
  --fw-b: 700;
}

body {
  background-color: var(--secondary);
  color: var(--text-inverse);
  font-family: var(--body);
  font-weight: var(--fw-r);
  font-size: var(--text-base);
  max-width: 1440px;
  margin: 10% auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

header svg {
  height: 3rem;
  width: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--text-inverse);
  font-weight: var(--fw-b);
  font-size: var(--text-3xl);
  justify-content: center;
  align-items: center;
}

h1 strong {
  font-family: var(--heading);
  font-weight: var(--fw-sb-6);
  font-size: var(--text-3xl);
  line-height: 2;
  color: var(--accent);
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  h1,
  h1 strong {
    line-height: 1;
  }
}

h2 {
  font-size: var(--text-2xl);
  font-weight: var(--fw-b);
}

h3 {
  font-size: var(--text-xl);
  font-weight: var(--fw-b);
  text-shadow: -0.5px 0.5px 0px var(--highlight);
  margin-bottom: 0.5rem;
}

em {
  font-family: var(--body);
  font-weight: var(--fw-sb);
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.75px;
}

.rss-item strong {
  color: var(--text-inverse);
  font-family: var(--link);
  font-size: var(--text-lg);
  font-weight: var(--fw-b);
  transition: 0.4s ease;
  text-decoration: underline 1px var(--highlight);
  text-underline-offset: 3px;
}

main {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 3rem 2rem; */
  max-width: 800px;
  margin: 0 auto;
}

.rss-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .rss-item {
  padding: 1rem;
  outline: 2px solid var(--primary);
  outline-offset: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  color: var(--text-inverse);
  text-decoration: none;
  transition: all 0.4s ease;
}

.rss-item:hover,
.rss-item:focus {
  outline: 2px solid var(--highlight);
  transform: scale(1.05);
}

.rss-item:hover .rss-item--article__link strong,
.rss-item:focus .rss-item--article__link strong {
  text-underline-offset: 5px;
}

.rss-item--article__link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.rss-item--article__link svg {
  height: var(--text-lg);
  fill: var(--text-inverse);
}

@media screen and (max-width: 768px) {
  header,
  container {
    max-width: 90vw;
  }
}
