:root {
  --primary: #0e4749; /* dark green */
  --secondary: #002626; /* darkest green */
  --accent: #95c623; /* light green */
  --highlight: #e55813; /* orange */

  --text: #121212; /* black */
  --text-inverse: #efe7da; /* white */

  /* font sizing */
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;
  --text-3xl: 4.5rem;

  /* fonts */
  --heading: macula-line, Impact, cursive;
  --body: multi-display, Trebuchet MS, Helvetica, ui-sans-serif, system-ui,
    sans-serif;
  --link: interstate-mono;

  /* font weights */
  --fw-l: 300;
  --fw-r: 400;
  --fw-sb: 500;
  --fw-b: 700;
}

body {
  background-color: var(--secondary);
  color: var(--text-inverse);
  font-family: var(--body);
  font-weight: var(--fw-r);
  font-size: var(--text-base);
  max-width: 1440px;
  margin: 10% auto;
}

header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  display: flex;
  gap: 1rem;
  color: var(--text-inverse);
  font-weight: var(--fw-b);
  font-size: var(--text-3xl);
  justify-content: center;
  align-items: center;
}

h1 strong {
  font-family: var(--heading);
  font-weight: var(--fw-b);
  font-size: var(--text-3xl);
  color: var(--text-inverse);
  line-height: 2;
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

a {
  color: var(--text-inverse);
  font-family: var(--link);
  font-size: var(--text-lg);
  font-weight: var(--fw-b);
}

main {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.container input {
  padding: 0.5rem;
}

.rss-feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.rss-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--accent);
  color: var(--text);
  outline: 6px solid var(--accent);
  margin-bottom: 2rem;
}

.container .rss-item {
  width: 100%;
  padding: 1rem;
  outline: 2px solid var(--highlight);
  outline-offset: 4px;
}
